.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
  background-color: #ffffff; /* 배경색을 흰색으로 설정 */
  max-width: 1200px; /* 최대 너비를 설정 */
  margin: 0 auto; /* 중앙 정렬 */
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%; /* 원의 크기를 적절히 조정 */
  text-align: center;
  cursor: pointer; /* 클릭 가능한 요소로 표시 */
}

.category img {
  width: 100%;
  height: auto;
  border-radius: 50%; /* 이미지를 원형으로 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  transition: transform 0.3s ease; /* 호버시 확대 효과 */
}

.category img:hover {
  transform: scale(1.1); /* 호버시 이미지 확대 */
}

.category p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
