/* modelList.module.css */
.container {
    padding: 20px;
    text-align: center;
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}

.coverModel {
    margin: 20px 80px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

@media (min-width:1280px){
    .coverModel {
        margin: 20px 80px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
}

.defModel {
    margin: 20px 40px;

    .prdName {
        font-size: large;
    }

    .prdPrice {
        color:blueviolet
    }
    
    .starBox {

        .unfilled {
            font-size: 2rem;
            color: gray;
        }
        
        .filled {
            font-size:2rem;
            color: gold;
        }
    }
}



.imgContainer {
    position: relative;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;

    .overImg {
        width:10%;
        height:10%;
        position: absolute;
        top:0;
        right:0;
        color: red;
    }
}
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
  }
  
  .categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .categoryButton {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    color: #333;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .categoryButton:hover,
  .categoryButton:focus {
    background: #ddd;
    border-radius: 20px;
  }
  
  /* 선택된 카테고리 스타일 */
  .categoryButton.active {
    background: #333; /* 배경색을 어두운 색으로 */
    color: #fff; /* 텍스트를 흰색으로 변경 */
    border-radius: 20px;
  }
  
  .productList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 아이템 간의 간격을 설정 */
    justify-content: flex-start; /* 좌측 정렬 */
  }
  .modelImage {
    height:70%;
    width:100%;
    object-fit: cover;
  }
  .productItem {
    flex: 1 1 calc(25% - 10px); /* 아이템 너비를 유연하게 설정 */
    max-width: calc(25% - 10px); /* 최대 너비 설정 */
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .productImage {
    width: 100%;
    height: auto;
    cursor: pointer; /* 커서 모양 변경 */
  }
  
  .productInfo {
    padding: 10px;
  }
  
  .productBrand {
    display: inline-block;
    background: #eee;
    padding: 3px 6px;
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  .productName {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
  }
  
  .productPrice {
    font-size: 16px;
    color: #d9534f;
  }

  .emptyProductList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  