.breadcrumb {
    font-size: 14px;
    color: #6a6a6a;
    margin-bottom: 20px;
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #6a6a6a;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }