  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    }

    .bestSeller {
      background-color: #e0f7fa;
      color: #00796b;
      padding: 4px 8px;
      font-size: 14px;
      border-radius: 12px;
      display: inline-block;
      margin-bottom: 10px;
    }

  .modelImage {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modelImage img {
    width: 100px;
    height: 167px;
    object-fit: cover;
    border-radius: 8px;
  }

  .modelMainImg{
    margin-left: 10px;
  }

  .modelMainImg img{
    width: 600px;
    height: 700px;
  }